.basket-color {
  color: blueviolet;
  float: right;
}

.right-padding {
  padding-right: 10px;
}

.left-padding {
  padding-left: 10px;
}

a:hover {
  color: hotpink;
  cursor: pointer;
}